body{
            margin: 0px;
        }
        .webhome{
            height: 100vh;
        }
        #map {
            position: absolute; 
            top: 0; 
            bottom: 0; 
            width: 100%;
        }
        .navigator{
            display: flex;
            padding: 12px 2.5% 12px 2.5%;
            background: rgba(0, 64, 66, 0.7);
            width : 95%;
            align-items: center;
            position: absolute;
        }
        .card{
            padding-left: 12px;
            margin: 12px auto;
            border: 2px outset black;
            background: #fbf009;
            text-align: right;
        }
        .title-s{
            display: flex;
            width: 50px;
            flex-grow: 1;
        }
        .title{
            padding-left: 12px;
            color: #FFFBFB;
            font-weight: bold;
            font-size: 5vh;
            font-family: "Bebas Neue";
            flex-grow: 1;
        }
        .title1{
            padding-left: 12px;
            color: #FFFBFB;
            font-weight: bold;
            font-size: 2vh;
            font-family: "Abhaya Libre", sans-serif;
            flex-grow: 1;
        }
        .container {
            display: inline-block;
            cursor: pointer;
            padding-right: 12px;

        }
        .main {
            margin: 0 auto;
            display: block;
            height: 100%;
            margin-top: 60px;
        }
        .mainInner{
            display: table;
            height: 100%;
            width: 100%;
            text-align: center;
        }
        .mainInner div{
            display:table-cell;
            vertical-align: middle;
            font-size: 3em;
            font-weight: bold;
            letter-spacing: 1.25px;
        }
        #sidebarMenu {
            height: 100%;
            position: fixed;
            left: 0;
            width: 250px;
            margin-top: 60px;
            transform: translateX(-250px);
            transition: transform 250ms ease-in-out;
            background: linear-gradient(180deg, #80b4ba 0%, #4e8187 100%);
            z-index: 10;
        }
        .sidebarMenuInner{
            margin:0;
            padding:0;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            font-family: sans-serif;
        }
        .sidebarMenuInner li{
            list-style: none;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px;
            cursor: pointer;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            font-family: sans-serif;
        }
        .sidebarMenuInner li span{
            display: block;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.50);
        }
        .sidebarMenuInner li a{
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
        }
        input[type="checkbox"]:checked ~ #sidebarMenu {
            transform: translateX(0);
        }

        input[type=checkbox] {
            transition: all 0.3s;
            box-sizing: border-box;
            display: none;
        }
        .sidebarIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            z-index: 99;
            height: 100%;
            width: 100%;
            top: 22px;
            left: 15px;
            height: 22px;
            width: 22px;
        }
        .spinner {
            transition: all 0.3s;
            box-sizing: border-box;
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: #fff;
        }
        .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }
        .diagonal.part-1 {
            position: relative;
            transition: all 0.3s;
            box-sizing: border-box;
            float: left;
        }
        .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }
        input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            opacity: 0;
        }
        input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(135deg);
            margin-top: 8px;
        }
        input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(-135deg);
            margin-top: -9px;
        }
        .language{
            display: flex;
            text-align: right;
            flex-grow: 0;
            cursor: pointer;
        }
        .en{
            padding: 5px 10px 5px 10px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            background: #D9D9D9;
            color: #004374;
            border-style: solid;
            border-color: #D9D9D9;
            font-size: 2vh;
            transition-duration: 0.4s;
        }
        .id{
            padding: 5px 10px 5px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            color: #D9D9D9;
            border-style: solid;
            border-color: #D9D9D9;
            margin-right: 20px;
            font-size: 2vh;
            background: transparent;
        }
        .change .en{
            padding: 5px 10px 5px 10px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            color: #D9D9D9;
            border-style: solid;
            border-color: #D9D9D9;
            font-size: 2vh;
            background: transparent;        
        }
        .change .id{
            padding: 5px 10px 5px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background: #D9D9D9;
            color: #004374;
            border-style: solid;
            border-color: #D9D9D9;
            font-size: 2vh;
            transition-duration: 0.4s;
        }
        .playbut{
            position: absolute;
            padding: 12px;
            bottom: 12px;
            left: 10px;
            display: flex;
            width: 90%;
        }
        .circle{
            display: flex;
            height: 8vh;
            width: 8vh;
            background-color: #D9D9D9;
            border-radius: 50%;
            padding: 2vh 4vh 4vh 2vh;
            cursor: pointer;
            border: none;
        }
        .circle:hover{
            background-color: #898989;
        }
        .button.back{
            width: 2vh;
            height: 2vh;
            box-sizing: border-box;
            border-style: solid;
            border-width: 2vh 2vh 2vh 0vh;
            border-color: transparent #004374 transparent transparent; 
        }
        .button.fwd {
            width: 2vh;
            height: 2vh;
            box-sizing: border-box;
            border-style: solid;
            border-width: 2vh 0vh 2vh 2vh;
            border-color: transparent transparent transparent #004374;
        }
        .rectangle {
            margin: 7px 0px 0px 35px;
            height: 1vh;
            width: 150vh;
            background-color: #D9D9D9;
            border-radius: 25px;
        }
        .parameter {
            border-radius: 15px;
            position: absolute;
            padding: 12px;
            top: 15vh;
            right: 5vh;
            background: rgba(0, 64, 66, 0.7);
            height: 36vh;
            width: 24vh;
        }
        .param {
            display: flex;
            padding: 7px;
        }
        .paramswitch {
            position: relative;
            display: inline-block;
            width: 3vh;
            height: 2vh;
        }
        .paramswitch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
        .parslider {
            border-radius: 34px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #D9D9D9;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .parslider:before {
            border-radius: 50%;
            position: absolute;
            content: "";
            height: 1.5vh;
            width: 1.5vh;
            left: 0px;
            bottom: 2.5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .parslider {
            background-color: #2196F3;
        }

        input:focus + .parslider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .parslider:before {
            -webkit-transform: translateX(2vh);
            -ms-transform: translateX(2vh);
            transform: translateX(2vh);
        }
        .downbutton{
            cursor: pointer;
            border-radius:5vh;
            border: none;
            margin: 4vh 0vh 0vh 2vh;
            width: 20vh;
            height: 4vh;
            text-align: center;
            padding: 4vh auto;
            background: #D9D9D9;
            transition: .4s;
            display: inline-block;
            font-family: "Arial",sans-serif;
            font-size: 2vh;
            color: #004374;
        }
        .downbutton:hover{
            background: #898989;
        }